body {
  margin: 0;
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

/* navigation bar  */
header {
  background-color: rgba(15, 18, 42, 0.85);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.8);
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo {
  font-size: 10px;
  font-weight: 800;
  padding: 10px;
  display: block;
  color: white;
}

.checkboxnav {
  display: none;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background-color: rgba(15, 18, 42, 0.85);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: #ffffff;
  text-align: center;
  align-items: center;
  font-size: 10px;
  opacity: 0;
  text-decoration: none;
  transition: opacity 100ms ease-in-out;
}

nav a:hover {
  color: #d685c0;
}

.hamburger {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  font-size: 20px;
  color: white;
  align-items: center;
  cursor: pointer;
}

.hamburger:hover {
  color: #d685c0;
}

.checkboxnav:checked ~ nav {
  transform: scale(1, 1);
}

.checkboxnav:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 350ms;
}

@media screen and (min-width: 728px) {
  .hamburger {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .logo {
    grid-column: 2/3;
  }

  nav {
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1, 1);
    background: none;
    top: initial;
    left: initial;
    grid-column: 3/ 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
  }

  nav li {
    margin-left: 2em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
  }
}
/* hero container  */

.heroContainer {
  background: url(./assets/herobg.jpg),
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) no-repeat;
  background-blend-mode: overlay;

  background-position: center;
  background-size: cover;
  height: 458px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.8);
}

.cvbtn {
  padding: 10px 25px 10px 25px;
  border-radius: 10px;
  border: none;
  font-weight: 800;
  color: rgba(15, 18, 42, 0.85);
  cursor: pointer;
}

.cvbtn:hover {
  box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.8);
  transition: ease-in-out 100ms;
  background: #272f6b;
  color: white;
}

.herocontent {
  color: white;
  background: rgba(15, 18, 42, 0.85);
  padding: 25px;
  border-radius: 15px;
}

/* breadcrumbs */

.breadcrumb {
  padding: 10px 16px;
  list-style: none;
}

.breadcrumb li {
  display: inline;
  font-size: 12px;
}

ul.breadcrumb li + li:before {
  padding: 8px;
  color: white;
  content: "/\00a0";
}
/* Experienced logos  */
.imagecard {
  background: black;
}

.langframeworks {
  padding-top: 1.6rem;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.logoContainer {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

@media screen and (max-width: 728px) {
  .logoContainer {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-items: center;
  }
}
.langframeworks h1 {
  color: rgba(15, 18, 42, 0.85);
}
.logoContainer img {
  height: 100px;
  width: auto;
  background: white;
  padding: 20px;
  border-radius: 20px;
  transition-property: all;
  transition-duration: 500ms;
}

@media screen and (max-width: 728px) {
  .logoContainer img {
    height: auto;
    width: 100px;
    padding: 10px;
  }
}

.logoContainer img:hover {
  filter: drop-shadow(0 0 0.2rem rgb(65, 63, 63));
}

/* Project Cards with links to live projects  */

.projectsection {
  padding-top: 2rem;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.projectcards {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  text-align: center;
}
@media screen and (max-width: 728px) {
  .projectcards {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    text-align: center;
  }
}

.projectcards img {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.projectbtn {
  padding: 10px 25px 10px 25px;
  border-radius: 10px;
  border: none;
  font-weight: 800;
  color: white;
  cursor: pointer;
  background: #272f6b;
}

.projectbtn:hover {
  box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.8);
  transition: ease-in-out 100ms;
  background: #d685c0;
  color: white;
}

.projectcards h3 {
  text-align: center;
}

.projectcards p {
}

/* about card */

.aboutcard {
  padding-top: 2rem;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.aboutcarbackground {
  background: url(./assets/bg2.jpg);
  height: 384px;
  min-width: 384px;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  cursor: pointer;
}

.aboutcontent {
  position: relative;
  top: 6rem;
  left: 4rem;
  background-color: rgba(255, 254, 254, 0.432);
  width: 380px;
  border-radius: 10px;
  padding: 20px;
}
.aboutcontent h2 {
  color: white;
}

.aboutcontent p {
  color: white;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(15, 18, 42, 0.85);
  width: 100%;
  margin-top: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
/* About Page  */

.aboutintro {
  padding-top: 2rem;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
